[2019-05-24 19:44] graynorton opened #3 "Create MVP samples for initial internal customer(s)"

[2019-05-24 20:13] justinfagnani opened #4 "Add checksize script"
We should track the bundle size of the scroller element.

See the `checksize` script here: https://github.com/Polymer/lit-html/blob/master/package.json#L26

[2019-05-24 20:14] justinfagnani opened #6 "Add Tachometer benchmarks"

[2019-06-11 17:10] straversi opened #11 "Convert to TypeScript"

[2019-06-20 17:22] straversi opened #12 "Feature request: .firstVisibleIndex"
Implement a .firstVisibleIndex like in iron-list.

Requested by @liyangguang

[2019-06-20 17:23] straversi opened #13 "Feature request: public .scrollToIndex(index)"
expose .scrollToIndex(index) in the API.

Requested by @liyangguang

[2019-06-21 03:22] justinfagnani opened #14 "Consider renaming `template` to `renderItem`"
"template" is a overloaded and slightly vague term in lit-html parlance. It can refer to the tagged template expression, or to a function that returns a TemplateResult.

I think naming this like a render method makes it most clear, and works better with subclassing, where the subclass would implement a `renderItem()` method. A `template()` method would be ambiguous in this context.

[2019-06-25 17:04] straversi opened #15 "Render does not get triggered when an external stylesheet loads in a template."
Report from @liyangguang:

(This issue has not yet been repro'd)

[2019-06-25 17:06] #3 closed

[2019-06-25 17:06] #4 closed

[2019-06-25 17:08] straversi commented on #14
I agree, I found myself getting confused with this.

[2019-06-25 18:34] justinfagnani opened #16 "Initial code review"
Let's make a PR into an empty branch to review the existing code.

[2019-06-25 18:36] straversi commented on #12
We'll consider whether to incorporate this feature into the API or provide a suggested implementation.

[2019-06-25 18:45] straversi opened #17 "Review Layout1dGrid"
Layout1dGrid exists as a proof-of-concept. Review it and determine if more functionality is required to make it shippable.

[2019-06-25 18:47] justinfagnani commented on #15
`<link rel=stylesheet>` isn't a great way to load styles in this situation, unless the users can provide a fixed height. The same will apply to other async loading like `<img>`.

A few solutions I can think of:
* ResizeObserver in `<lit-virtualizer>` handles any async layout-changing work
* Use LitElement's `css` tag to remove the async work for styles specifically
* Allow for a size function whic

[2019-06-25 22:08] straversi opened #18 "Add linting"
Let's standardize the style.

[2019-07-09 17:29] #6 closed

[2019-07-12 23:28] #14 closed

[2019-07-12 23:28] #13 closed

[2019-07-16 08:07] jogibear9988 opened #24 "Lazy Loading"
How can I do Lazy Loading (DataVirtualization) ?

[2019-07-18 22:57] #12 closed

[2019-07-20 01:12] straversi opened #25 "Enable TypeScript Strict Mode"
Enable TypeScript strict mode. Recent efforts were completed to remove all explicit instances of `any` via generics. Strict mode will force removal of implicit instances.

[2019-07-20 01:26] straversi commented on #24
Since the recent 0.3.0 release, the API should be wide enough to implement lazy loading.

One approach would be to load a subset of your data with `scroll` or `<lit-virtualizer>`, and attach a [`rangechange`](https://github.com/PolymerLabs/uni-virtualizer/blob/master/packages/lit-virtualizer/README.md#rangechange-event) listener to the host element. When the user scrolls past some threshold index,

[2019-07-20 01:30] #11 closed

[2019-07-20 01:31] straversi commented on #18
Linting added, new issues created for enabling specific flags that may take more time.

[2019-07-20 01:31] #18 closed

[2019-07-20 01:40] #24 closed

[2019-07-20 01:43] straversi opened #26 "Add proper license headers"

[2019-07-20 01:46] straversi commented on #16
There is a ton in this code review (https://github.com/PolymerLabs/uni-virtualizer/pull/19).

I've implemented certain things that correspond to existing sprint work, but there are a ton of suggestions for improving the initial virtualization work.

I will continue to triage sub-issues out of this issue.

[2019-07-23 17:38] #16 closed

[2019-08-14 07:18] alangdm opened #27 "rangechange event properties are undefined in Safari"
Hi there,

I was testing out lit-virtualizer and found a bit of a weird behavior in Safari (both MacOS and iOS)

When listening to the `rangechange` event, and trying to access to it's properties like this
[code]

In Chrome everything works fine, but in Safari they are all undefined
I can access them in both Chrome and Safari as `_first`, `_last` etc., but I don't think that's how they're intended

[2019-08-19 07:48] web-padawan opened #29 "Publish the TS definition files"
Hi! I'm trying to use `lit-virtualizer` in a TS project, namely my prototype of a combo-box component, as a potential successor to `vaadin-combo-box` (which uses `iron-list`).

https://github.com/web-padawan/lit-combo-box

The 0.3.0 version of `lit-virtualizer` is lacking any typings, so I had to use `any` in my own TS code and I'm getting a bunch of warnings from `lit-analyzer`.

@straversi @just

[2019-08-19 15:45] justinfagnani commented on #29
@web-padawan a PR would be great!

[2019-08-19 19:42] web-padawan opened #32 "Rendering artifacts sometimes appear when re-attaching"
As I previously mentioned, I'm working on `lit-combo-box` component. The way it works in short looks as follows:

1. `overlay` directive is used to ["teleport"](https://github.com/web-padawan/lit-combo-box/blob/706d5113da822d236d1c52d6595b60c6f33d9362/src/lit-overlay-directive.ts#L43-L47) the component under `document.body` when opened (and back when closed, in a similar way as we do it in `vaadin

[2019-08-19 19:50] web-padawan commented on #29
Fixed by #31.

[2019-08-19 19:50] #29 closed

[2019-08-20 20:47] Westbrook commented on #17
My team at Abode and I are very interested in the progress toward grid based functionality for the virtualizer (particularly `lit-virtualizer`, but all) and hope that The following specifications from our design team can help ensure that the functionality that we're targeting can be met by the additions herein.

## Fixed square grids
This first set of specs seem like they'd be right in the center

[2019-08-21 04:40] graynorton commented on #17
Thanks, @Westbrook! We'll take a look, do some experimentation and get back to you with some follow-up questions.

[2019-08-21 22:36] straversi commented on #32
I have a suggestion for continuing the debugging process, but I haven't determined the exact cause yet.

I found that removing this line...

https://github.com/web-padawan/lit-combo-box/blob/f23a8f2a5190a797e035e62224614d1edc725bab/src/lit-overlay.ts#L74

...seems to prevent this issue. I was not previously aware of any issues with `display` style changes to ancestors of `<lit-virtualizer>`. I'll

[2019-08-22 07:11] web-padawan commented on #32
Thanks, that's something I haven't tried. We do not have such a problem with `iron-list` (although we do have lots of different ones, like having to flush debouncers manually).

I will try if removal of `display: none` helps, but we need to hide the overlay when moved back to its host anyways, and I assume that solutions like `height: 0` might cause the same issue?

[2019-08-22 09:20] justinfagnani commented on #32
Does `offsetParent` of the errant nodes change based on that style change? `display` on ancestors can affect absolute positioning.

[2019-08-23 01:14] CaptainCodeman commented on #17
Maybe relevant ...
https://medium.com/google-design/google-photos-45b714dfbed1

I've implemented the same sort of grid with a similar approach - treating a segment of a couple-dozen items as a chunk for layout helps avoid having to do big re-calcs, esp. when dealing with resizing (width).

It does depend on whether you are laying out the items (in which case you need the aspect ratios or dimension

[2019-08-27 19:47] minht11 opened #34 "Rendering new template when renderItem changes does not work"
If template is already rendered using `scroll` directive, trying to render new template with different `renderItem' does not work.
[code]
If template is bit different from previous one, spacing in this case, it does work.
[code]
Example https://jsfiddle.net/jvkqw4ud/

I thought this might be an issue with lit-html, but I tried the same thing using `repeat` directive and it does work so I am not su

[2019-11-01 23:33] graynorton commented on #17
@Westbrook, sorry for the lengthy silence. Work on this has been moving in fits and starts due to resource contention, but we have given it some thought and built proof-of-concept implementations of both the square grid layout and the flex layout.

We'll try to get a working example and/or a prerelease published next week, but some quick comments / questions to advance the discussion for now:

1.

[2019-11-02 02:06] T-Knott-Mesh commented on #17
Hello All!

Tsavo here, this is all very good stuff -

@Westbrook  you may be interested in this article
https://medium.com/google-design/google-photos-45b714dfbed1

Really killer read.

We at Mesh are also working on a V2 virtual list based on lit-element but I believe our approach is a bit different.

We have very ambitious goals with our V2 scroller. Our V1 scroller is used in production curren

[2019-11-02 15:36] T-Knott-Mesh commented on #17
Lol - Disregard the link to photos @CaptainCodeman was already ahead of me on that!

I read this thread in an email so I did not see the previous responses.

Would still love to sync up with people who are working on this problem

[2019-11-04 16:57] Westbrook commented on #17
@graynorton not a problem at all, I know you and then team have been up to a lot. I'm going to be out at CDS next week, so I wasn't in a specific hurry to hit you up before then, but we are about to pivot back to this part of our app and will be very excited to check out what you've been putting together!

1. I'm onboard with simplicity in these early attempts. Wanted to start with ALL the possibi

[2019-11-14 19:55] Westbrook commented on #17
@graynorton thanks for the preview branch that is coming together for this, it's looking really exciting. As I review the output, I wonder how you feel about having `spacing` work more like "gap" and less like "padding"? I'll try to take a deeper look on what a PR to add that would look like next week or so, but if you happened to have that in the back of your mind already, I'd be very excited to

[2019-11-15 04:29] graynorton commented on #17
@Westbrook Can you elaborate a bit? I am imagining renaming `spacing` to `gap`, and the intention would be for the layout to treat this property in a manner consistent with how the relevant native layouts do (though not necessarily supporting the full range of values). In what sense is the current implementation working more like `padding`?

[2019-11-18 18:55] Westbrook commented on #17
`padding` tends to go around all sides of an element, where as `gap` exists only between elements. Upon further inspection, the demo currently does some in between version where the visual output is for element to get `padding: calc(x / 2);` and the container gets `margin: calc(x / 2);`.

Currently the 0 gap in the demo displays:
![image](https://user-images.githubusercontent.com/1156657/69080516-

[2019-11-18 20:34] graynorton commented on #17
@Westbrook Ah, I see what you mean. This is certainly worth discussing further, and I could imagine a parameter or two to offer some finer control over the behavior in this general area.

That said, based on real-world designs and examples I've seen, it seems to me that UIs of the specific kind we're trying to achieve here (including the designs you shared in this thread) almost always call for th

[2019-11-18 21:47] CaptainCodeman commented on #17
I found it simpler to have the gap _only_ apply to the distance between image elements, and to use padding on the element itself for the outer gap. The calculations ended up simpler and it seemed easier to work with.

Example: https://youtu.be/HXr49U75yZA

[2019-11-18 22:10] Westbrook commented on #17
@graynorton I understand if that works out to be a requirement here. Having inner spacing have to be =< outer spacing is not my favorite, but I'm more interested in having this is a place where we can work with it more in the community that having 100% my needs met. Having the system manage this equally is much better than past versions where you manage right/bottom internally and the left/top ext

[2019-11-18 22:31] graynorton commented on #17
@Westbrook @CaptainCodeman I'm certainly open to having the outer spacing controlled independently (by exposing another layout parameter or by respecting CSS padding on the container), if that's what consensus dictates.

This just seemed to make what I viewed as the 80%+ case (uniform inner and outer spacing) more complicated (multiple params, and in the CSS-padding case different kinds of inputs)

[2019-11-18 22:35] Westbrook commented on #17
I'd say that outer space could (should?) just be CSS, but understand the value on either side of that conversation...agree that simplicity is a good target.

[2019-11-21 00:37] graynorton commented on #17
@Westbrook @CaptainCodeman OK, I think I'm convinced. I'll go ahead and make this change.

[2020-01-14 22:54] andrewhatran commented on #17
Hi all,

My team at Adobe is curious about the progress of the `better-grid` and `layout` functionality.

Is there anything that our team can do to help? We would be happy to give additional feedback or elaborate on our requirements.

Thanks!

[2020-01-14 23:59] CaptainCodeman commented on #17
Sorry @Westbrook , missed replying to this ...

Yeah, it's fairly small and simple and avoids the extra outer spacing as you noticed but runs fairly fast even if I throw a stupid number of images at it (but chunking things works better). I'll tidy up the code and see where it can plug in when I get chance, this is all it ends up as:

<img width="640" alt="Screen Shot 2020-01-14 at 4 57 00 PM" src=

[2020-01-15 16:48] graynorton commented on #17
@andrewhatran, @Westbrook, let's set up a video call to discuss timing, your requirements and the logistics of having you work with a pre-release version. Please reach out directly to schedule.

Meanwhile, a quick status update:

I've been working on taking the FlexWrap layout from a demo/prototype state to something ready for real-world use: improving the mechanism by which image size / aspect ra

[2020-01-21 18:43] graynorton opened #41 "Prototype and evaluate alternative approach to renderer integration"
Much of the functionality provided by the `VirtualRepeater` base class, while critical in a vanilla HTML / JS scenario, is of limited utility when virtualizer is paired with a rendering library like lit-html.

It should be possible to factor things so that this functionality is omitted when not needed, instead relying on whatever rendering library is used. This should significantly reduce code siz

[2020-01-21 18:43] graynorton opened #42 "Respect container padding, rework gap/spacing accordingly"

[2020-01-21 18:43] graynorton opened #43 "Audit layout lineup, do some weeding, renaming, option-hardening"

[2020-01-21 18:44] graynorton opened #44 "Design review current approach to polyfills"

[2020-01-21 18:45] graynorton opened #45 "Prepare and submit PR for resize-observer-polyfill?"
EDIT May 12: We are going to evaluate resize-observer-polyfill against @juggle/resize-observer, which is more actively maintained but at first glance seems not to perform as well. Depending on the results of the evaluation, we'll either proceed with a PR or not...

---

We have a fork of https://github.com/que-etc/resize-observer-polyfill that allows the polyfill to observe size changes for elemen

[2020-01-21 18:45] graynorton opened #46 "Clean up improved renderer integration"
EDIT May 12: Changing the scope of this issue to reflect a change in plans. Got the cleanup done in Sprint 27, but holding off on landing until some additional work is done (most notably finalizing the browser support and polyfill story).

## Description

The purpose of this task to clean up ~~and land~~ the refactoring we did in #41. The refactoring itself is expected to make the code smaller and

[2020-01-21 18:46] graynorton opened #47 "Get FlexWrap layout to feature complete"
Most importantly, finish chunking

[2020-01-21 18:46] graynorton opened #48 "Finalize design for layout lifecycle hooks"

[2020-01-21 18:47] graynorton opened #49 "Document layout interface"

[2020-01-21 18:48] graynorton opened #50 "Implement improved layout algorithm for FlexWrap"
Something that optimizes layout per-chunk, not just per-line, likely based on Google Photos approach

[2020-01-21 18:48] graynorton opened #51 "Explore proxy polyfill for VirtualArray"

[2020-01-21 19:07] graynorton commented on #41
Much of the functionality provided by the `VirtualRepeater` base class, while critical in a vanilla HTML / JS scenario, is of limited utility when virtualizer is paired with a rendering library like lit-html.

It should be possible to factor things so that this functionality is omitted when not needed, instead relying on whatever rendering library is used. This should significantly reduce code siz

[2020-01-21 19:16] web-padawan commented on #45
Hi, not 100% sure whether this is a right issue but I have a question.

Are you going to publish a loader ([polyfillLoaders/ResizeObserver.ts](https://github.com/PolymerLabs/uni-virtualizer/blob/3dee3007c923463cd064e2ca45423061eb127e59/packages/uni-virtualizer/src/lib/polyfillLoaders/ResizeObserver.ts#L1-L16)) to npm?
It would be great to have it as a separate package so everyone could depend on i

[2020-01-21 19:47] graynorton commented on #45
@web-padawan I've thought about it, but don't have any definite plans. I think the loading approach we're using here has some appeal and seems to be working well enough so far. The fact that you've copied it is another good data point, but I'd like to give it some more thought and get some additional opinions. That's actually what https://github.com/PolymerLabs/uni-virtualizer/issues/44 is intende

[2020-01-23 13:20] moodyjmz commented on #45
I've not delved into it, but there is another resize observer polyfill which appears to be more frequently updated and also covers the areas que lacks - not sure about shadow-dom resizing though - it does have better test coverage etc.

https://github.com/juggle/resize-observer

[2020-01-23 20:52] Westbrook opened #52 "`updateComplete` tuning or additional API in `lit-virtualizer`"
When working with `LitElement` based web components I am accustomed to being able to rely on [`await el.updateComplete`](https://lit-element.polymer-project.org/guide/lifecycle#updatecomplete) in order to know when the render process of said element has completed a pass. When attempting to rely on this same interface with `lit-virtualizer`, particularly when attempting to run DOM snapshot testing

[2020-01-28 17:45] graynorton commented on #52
Sure, I'll take a look at what might work best for this use case.

[2020-01-28 17:58] graynorton commented on #45
@moodyjmz Thanks for the pointer! I'll take a look at it.

[2020-02-18 23:39] moodyjmz opened #53 "Browser support"
Will lit-virtualizer support IE11?

[2020-02-19 22:42] KapJI opened #54 "lit-virtualizer doesn't work os iOS/ipadOS properly"
I noticed lit-virtualizer doesn't work on iOS both in Safari and Chrome. Scrolling stops when new element is added in VirtualScroller. So you can scroll one item at time. You can see this on your examples.

But at the same time it works fine in Safari and Chrome on macOS as well as in Chrome for Android.

Interestingly, that example `scroll-to-index-lit-html` with `scroll()` works fine. I'm not su

[2020-02-20 23:40] KapJI commented on #54
It seems that it happens when you try to append element to shadow DOM root. If in `scroll-to-index-lit-html` you pass `useShadowDOM=true` to `scroll()` then it also stops working. But if you won't create new shadow root in `VirtualScroller._applyContainerStyles()` then it works fine even if `scroll()` is inside shadow root itself (but then you need to set styles manually). Hope that helps.

[2020-03-07 23:37] cintaccs opened #55 "lit-virtualizer repeated use with LitElement - adds scroll window event listener more than once"
In a LitElement component - render method:
`
render() {
return html `<lit-virtualizer  .items=${items}  .renderItem=${this.listitem}></lit-virtualizer>`;
}
`
keeps adding:

<img width="840" alt="Screenshot 2020-03-08 at 00 29 52" src="https://user-images.githubusercontent.com/4300051/76153930-f3a0f780-60d3-11ea-9501-ea7fafdab58e.png">

A potential solution - seems to work but a bit "hacky" - Virtu

[2020-03-17 14:55] web-padawan commented on #17
@graynorton do you have any update to share?

At Vaadin, we consider using `lit-virtualizer` as an option for future version of `vaadin-grid`.

One particular use case we are interested in would be implementing virtual scrolling for `vaadin-grid` columns (in addition to vertical scrolling for rows that we already have).

[2020-03-31 17:25] graynorton opened #57 "lit-virtualizer: Release grid and flex layouts"

[2020-03-31 18:03] graynorton opened #58 "Review open bugs for release blockers"

[2020-04-14 17:38] graynorton commented on #41
Alternative implementation complete, all existing examples converted.

- Virtualization performance appears to be essentially the same (as hoped / expected)
- API for consumers of lit-virtualizer unaffected
- Implementation is considerably simpler and smaller (though haven't yet quantified)

Next step: clean up the new implementation, remove the old, prepare to merge to master

[2020-04-14 17:38] #41 closed

[2020-04-28 16:53] graynorton opened #60 "Scroll to Index broken by refactor"
*Steps to reproduce:*

1. Run the `scroll-to-index-lit-element` example
2. Use the example UI to scroll to index 66

*Expected result:* Scrolls precisely to index 66

*Actual result:* Off by 100 or so pixels

This is due to some subtle changes in the interaction between the refactored scroller and the layout. The fix should be simple enough, but will require a bit of experimentation.

[2020-04-28 18:05] graynorton opened #61 "Get tests passing, post-refactor"
Some tests are failing after the recent refactor. Once the one remaining known bug (scroll to index) is addressed, need to see whether any failures remain and fix accordingly.

Exit criteria: All tests pass

[2020-05-05 19:25] #60 closed

[2020-05-05 21:19] #61 closed

[2020-05-12 17:13] #46 closed

[2020-05-12 17:34] graynorton opened #62 "Get lit-virtualizer running in old Edge and IE11"
## Description

We need to finalize our browser support matrix and polyfill approach before a 1.0 release, with support for old Edge and IE11 currently assumed but subject to be dropped.

The purpose of this task is simply to get the current lit-virtualizer samples running in old Edge and IE11 so that we can evaluate performance, compare polyfills, etc.

## Acceptance Criteria

lit-virtualizer sam

[2020-05-12 17:50] graynorton opened #63 "Choose a ResizeObserver polyfill"
## Description

We need a ResizeObserver polyfill for old Edge and IE11 support and need to decide between que-etc/resize-observer-polyfill (for which we have a working version of ShadowDOM support) and juggle/resize-observer (which doesn't yet support ShadowDOM but is much more actively maintained).

## Acceptance Criteria

Have a decision, backed up by:

* Performance data (ideally measured spec

[2020-05-12 19:00] cintaccs commented on #63
Hi, I am using your virtualizer - and appreciate a lot what you have done/are doing! I am wondering why you would bother creating support for IE11 and old Edge for any new versions. What would be against not supporting IE11 and old Edge - Microsoft hardly want to support these browsers themself... and the UI experience in general in those browsers are in general lacking more and more behind, they

[2020-05-12 19:08] cintaccs opened #64 "Use with TABLE"
Hi,
I have tried various ways to get a traditional TABLE / TR layout to work with the uni-virtualizer - but can't find a way to make it work. What I am trying is to virtualize the TR's of a TBODY - and I have tried making each TR a separate TBODY too - but I can't get it to work. I have tried both the lit-element and the attach approach.
Should it work?
Thanks in advance!

[2020-05-14 18:58] graynorton commented on #64
The short answer is that it doesn't work.

We did some experimentation along these lines in an earlier phase of the project and it seemed tantalizingly close, but the techniques we use to position children and size the body to account for virtual items just don't play nicely with the browser's native table layout behavior.

It's probably possible to end up somewhere good by either:

- Using actual

[2020-05-14 19:17] web-padawan commented on #64
This is the approach we are using in `vaadin-grid` which uses `<table>` in Shadow DOM.

There is an experimental [branch](https://github.com/vaadin/vaadin-grid/commit/561acd9a0972d45d504f33ad5e13de5291dbedee) with a proof of concept of using `VirtualScroller`. We consider it as a future replacement for our internal copy of `iron-list` for implementing infinite scrolling.

[2020-05-14 19:27] cintaccs commented on #64
Thanks both of you!! I think most of the "virtual" implementations I have investigated until now has been relying on CSS display and some sort of fixed sizing of TD widths and TR heights. I have an own implementation that instead uses pages of TBODY's insertBefore / insertAfter that kind of solves the problem - but it is not as elegant as the virtualizer implementation.
I made that solution for TA

[2020-05-14 19:36] cintaccs commented on #64
Thanks for the link! Cool stuff you have! Only thing that I initially see as an issue is the "overflow" in cells that gets "..." - which not always is the requirement - but for a majority of tables your grid seems pretty cool! and also with lazy loading stream etc.! Cool!

[2020-05-26 16:13] #62 closed

[2020-05-26 16:13] #44 closed

[2020-05-26 16:16] graynorton opened #65 "Add scrolling performance tests"
## Description

In order to gauge the performance impact of potential changes, we need automated tests to measure scrolling performance.

Until now, we've been doing mainly ad hoc manual performance testing, using the Performance tab in Chrome Dev Tools, but this has obvious downsides (only works in Chrome, can't easily be automated or used with Tachometer).

The immediate impetus for doing this w

[2020-07-21 17:32] graynorton commented on #63
We'll go with `que-etc/resize-observer`.

It's less popular and not actively maintained, but performs substantially better with `lit-virtualizer`, and that is more important for our current purposes.

Changing polyfills in the future, should the need arise, should be straightforward.

[code]

[2020-07-21 17:32] #63 closed

[2020-07-21 17:38] graynorton commented on #65
Scrolling measurement functionality has been added to the library, and our main samples have all been updated to support a query-string-driven `benchmark` mode.

As planned, we used the above in conjunction with Tachometer to evaluate the performance of two alternative `ResizeObserver` polyfills and choose between them (#63).

[2020-07-21 17:38] #65 closed

[2020-07-21 17:39] graynorton commented on #45
Closing.

Given our specific needs and the minimal activity on this polyfill, we've decided to (lightly) maintain a fork with our necessary modifications rather than submit PRs.

[2020-07-21 17:39] #45 closed

[2020-07-21 17:59] graynorton opened #68 "Clean up repo in preparation for google3 import"

[2020-08-12 02:31] cintaccs commented on #55
Hi,
Are any updates planned to the lit-virtualizer in the short/medium term? eventually with a fix to above.

[2020-08-12 02:43] cintaccs opened #69 "Roll-up issue when using lit-virtualizer with lit element"
Anyone using lit-virtualizer successfully with rollup / lit element and the list to be managed as a shadowDOM nested a few levels below the initial body.
My issue is that when I build with webpack it works - but with roll-up it doesn't. There is an issue with roll-up around

// `constructor` is not enumerable.
Object.defineProperty(EventTarget.prototype, "constructor", {
    value: EventTarget,

[2020-08-18 23:03] graynorton commented on #69
Hi, @cintaccs.

We use Rollup to build the samples in this repo, so it's definitely possible to get it working, though it did take some trial and error to get all the way there. I've forgotten some of the details, but as I recall the key was building the babel polyfills separately and loading them first, before loading the application build.

In order to help diagnose the specific problem you're s

[2020-08-18 23:39] cintaccs commented on #69
Thanks a lot! @graynorton
I have in the meantime tried a number of combinations - without luck - however the information you have provided (thanks a million for that!!!!!) eventually will allow me to get a step closer.
I understand that you have limited resources and time - therefore thanks again for the explanation above!!
The main point is (IMO) that lit-virtualizer is a strong strong list scrol

[2020-08-31 20:31] cintaccs opened #70 "confusing assignment in condition...."
in class VirtualRepeater

[code]

Having an assignment in the condition ... ? Should it be:
[code]

[2020-08-31 20:38] cintaccs commented on #69
@graynorton - I got it to work after a while... :-)

I don't need IE11 compatibility and polyfills - and I therefore removed code related to "older" browsers to get as clean basis as possible. I am not 100% sure that it is a good basis for sharing - but the main issue I found was that the this._eventTargetPromise failed in class Layout1dBase when using Roll-up.

My fix - which is probably a hack..

[2020-09-10 21:53] graynorton commented on #70
Thanks for the issue, @cintaccs.

I agree that this is confusing and should be replaced along the lines you suggest. (And frankly, there are probably a bunch of issues along these lines in the current codebase.)

That said, this code in particular is destined to be removed; it's already gone from the `better-grid` branch where active development is happening at the moment.

I'm also planning for a

[2020-09-10 21:53] #70 closed

[2020-09-24 16:28] graynorton commented on #69
Thanks for the follow-up, @cintaccs! Since you've resolved your issue, I'm going to close this for now. We can reopen or create a new issue if this problem arises for anyone else as we get closer to release.

[2020-09-24 16:28] #69 closed

[2020-09-25 12:49] rbjarnason opened #75 "How to reflow after dynamically adding an item to the list"
We're using the better-grid branch and when adding a new item to a list that is on the screen, the item appears but the items are not flowing correctly - see image below. By resizing the browser the items snap into the correct flow and we've tried all APIs on the LitVirtualizer and the .layout (Layout1d) but none work - any ideas or is the API for this currently missing? On iron-list we used to fi

[2020-10-29 18:30] graynorton commented on #75
@rbjarnason Sorry for the slow response–I hadn't noticed this come in. Assuming that it reproduces easily, this looks like a bug to me; the intention is that you shouldn't need to do anything other than mutate the data and reassign the items array.

Would it be possible to create a simple repro case (Stackblitz, Codepen, a repo I can clone, or even a Gist)?

[2020-11-02 20:55] thetaPC commented on #75
@graynorton this appears to be a similar issue that I'm running into with a private project. I'm using expandable cards. There will be moments that when I expand a card, the list does not update the absolute positioning.

Is there a way to refresh/repaint the virtualizer? The function that does the calculations is private.

[2020-11-02 21:09] graynorton commented on #75
@thetaPC Are you using the `better-grid` branch, or `master`, or the latest pre-release from npm?

[2020-11-02 21:11] thetaPC commented on #75
@graynorton pre-release from npm

[2020-11-02 21:18] thetaPC commented on #75
@graynorton another issue that I'm encountering that is also part of the re-render. When a card is open (let's say the first one in the list) then the first card in the next viewport will be opened after scrolling. You can see the same issue being applied in the [demo page](https://polymerlabs.github.io/uni-virtualizer/basic-lit-element/).

[2020-11-25 19:18] thetaPC opened #78 "How to not get the "[object Object]" message?"
I'm switching from the pre-release to the better grid branch.

However, the custom elements in the lit-virtualizer do not render. Instead it outputs [object Object] multiple times.

Thoughts?

[2020-12-03 20:05] kevinpschaaf commented on #78
This is likely due to multiple versions of `lit-html` being installed in `node_modules` in your project; you need to ensure that the version of lit-html that `uni-virtualizer` is using is being loaded from the same `lit-html` package as `render`/`html` that is being used.

Please try running `npm dedupe` on your project, which should help ensure that only one version of `lit-html` exists.  Note th

[2020-12-04 14:19] TomRauchenwald opened #81 "lit-virtualizer in mwc-dialog / Items overlap"
When lit-virtualizer is used in a mwc-dialog, the positioning of the rendered items is off sometimes.
I'm using version 0.4.2 and chrome 87.

Test code:
[code]
I've prepared a demo here: https://codepen.io/TomRauchenwald/pen/NWRxErO

I would expect the lit-virtualizer element that's rendered directly in the component to look the same as the one in the opened dialog.
Instead, the elements overlap i

[2020-12-07 23:40] thetaPC commented on #78
I was building the branch wrong, which caused the issue. I've managed to get it built correctly. Thanks!

[2020-12-07 23:40] #78 closed

[2021-03-17 23:12] joekukish commented on #32
@web-padawan Were you able to fix this issue? I'm running into the same issue.

[2021-04-22 19:34] kjantzer opened #94 "Breaks with new Lit 2.0"
Recently upgraded to [lit 2.0](https://www.npmjs.com/package/lit) and it looks like using `html()` with `renderItem` no longer works.

`[object Object]` is printed instead of HTML

[2021-04-27 20:02] lucienimmink commented on #94
Same issue, hopefully this can be resolved

[2021-04-28 01:11] herberthobregon commented on #94
This WC needs to be updated to 2.0 🔥 @graynorton

[2021-05-12 12:55] bramkragten opened #103 "Seems like `layout` is required in version 0.6, but not documented or typed"
The layout option seems to be required, but it is typed as optional and not documented.

Should this by default fallback to `Layout1d`, or should it be made a required option?

https://github.com/PolymerLabs/uni-virtualizer/blob/master/packages/lit-virtualizer/src/lib/scroll.ts#L20-L21

[2021-05-21 08:41] bramkragten commented on #54
The `useShadowDOM` option was removed in version 0.5, and it now always creates a shadow root, there seems no easy way the fix this issue for Safari anymore now...

Was the removal of `useShadowDOM` a necessity for the new layout features?

[2021-05-21 22:27] graynorton commented on #54
Thanks for bringing this to my attention. I'm not inclined to restore this API option, but I will figure out a way to fix the issue with mobile Safari.

[2021-05-24 23:13] graynorton commented on #54
I filed this WebKit bug with a simple repro case:

https://bugs.webkit.org/show_bug.cgi?id=226195

Meanwhile, I am working on a temporary fix.

[2021-05-25 00:37] graynorton commented on #54
I think the best workaround for now is for virtualizer not to use Shadow DOM at all but instead set CSS properties directly via the host element's `style` property.

This is a bit ugly and requires some care, but I can't think of a better option.

Specifically, virtualizer will:

- Set the host element's `style.display` to `block` if it's not already set to something else
- Set the host element's

[2021-05-25 10:23] KapJI commented on #54
I think this should work. Have you considered just wrapping it with extra `div`? As far as I remember this issue only occurs when you add elements to shadow DOM root, adding to non root should be fine, but this may cause compatibility issues with the current version.

[2021-05-25 17:40] graynorton commented on #54
Thanks for the suggestion, @KapJI! I took a quick look at what it would mean to wrap the light-dom children in a `div`. That would be another potentially viable solution, but it would require deeper changes to virtualizer code, so I think I'll proceed with the fix I outlined above.

[2021-05-25 17:42] KapJI commented on #54
Thanks!

[2021-05-26 22:46] graynorton opened #104 "Revert workaround for iOS scrolling issue"
In the `0.7.0` release, we stopped using Shadow DOM to apply required styles to the virtualizer host element and instead are applying these styles inline via the element's `style` property.

This was to work around an iOS bug: https://bugs.webkit.org/show_bug.cgi?id=226195

We will revert this change when the iOS bug is fixed.

[2021-06-09 17:56] graynorton commented on #94
The latest release (0.6.0) works with Lit 2.0.

https://www.npmjs.com/package/@lit-labs/virtualizer

[2021-06-09 17:56] #94 closed

[2021-06-14 09:23] afberg commented on #103
I'm running into the same issue (I think) when upgrading to Lit 2.0 and using the latest version of the `lit-virtualizer` element (v.0.6.0).

Below is the error I'm getting which indeed seems to be related to the `layout` property:
[code]

[2021-06-27 22:33] rbjarnason opened #105 "Browser freezes when switching between scrollers"
In version 0.0.6 and also in the 0.0.7 branch - we have this problem where the browser freezes when switching between different parts of our app that has different <lit-virtualizer> elements. The only way to recover is to close the browser tab in Chrome and stopping the app in Firefox.

We are using Lit 2.

Here is what happens from the Firefox dev tools perspective.

![Screenshot from 2021-06-27

[2021-07-07 12:45] lucienimmink commented on #103
Same issue, a very bare example already fails
[code]
results in error
[code]

[2021-07-07 12:57] lucienimmink commented on #103
A quick fix is doing to following (though this needs refactoring!)
[code]

[2021-07-13 07:51] RoXuS opened #106 "Publish the 0.5.0 on npm ?"
Can you publish the 0.5.0 on npm ?

[2021-07-13 14:01] #106 closed

[2021-07-31 20:12] lucienimmink commented on #105
Same issue. Old version for lit-html 1.x works perfect in this regard.

[2021-08-16 18:39] graynorton commented on #105
I will take a look at this as soon as I have a moment, but if either of you has time to create a minimal repro that would be very helpful.

[2021-08-17 06:44] tpluscode opened #108 "Cannot scroll up"
I found this annoying behaviour when trying to scroll up a `lit-virutalizer`. It appears to loop the `rangechange` event on two topmost items, preventing scroll

This is a long list of dynamic lit@2 elements. New data is being loaded dynamically and `array.spliced` into the array

Not sure if I will be able to minimally reproduce this yet. Check out the recording below. Going down, the `rangechang

[2021-08-18 18:29] graynorton commented on #108
Thanks for the report. I think I will need to be able to repro this (ideally with a minimal case, otherwise by being able to interact with and debug the full app) in order to diagnose and fix.

[2021-08-19 09:50] tpluscode commented on #108
Thank you @graynorton. I won't have the bandwidth immediately available to try a minimal repro.

Here is the repo: https://github.com/zazuko/zack-search if you would have the chance to check the full app. The virtualiser is in `zack-results` component and data being loaded by `ResultsController`

[2021-08-23 16:08] graynorton commented on #103
Just to confirm: this was a change introduced in 0.6, but it will be reverted in the next release. The workaround in the meantime is to explicitly load a layout, as commenters have noted.

[2021-08-30 10:08] tpluscode commented on #108
Any luck @graynorton?

[2021-08-31 00:24] graynorton commented on #108
@tpluscode I tried taking a look today and was able to repro your issue locally using your project. I confirmed that it no longer reproduces when I use the latest (as yet unreleased) version of `@lit-labs/virtualizer` I have locally. This new version contains a bunch of fixes; I have a guess which one is relevant to your issue, but haven't yet confirmed. I'd like to get a new release out soon in a

[2021-09-02 09:17] tpluscode commented on #108
Great news, thank you!

I do not have a particular deadline TBH but I would appreciate a new version some time this month. WDYT?

[2021-09-03 15:42] cintaccs commented on #108
just to show interest - I would like to add that upgrading to the new lit lib from older lit-element used on approx 50 components - the main obstacle is that we can’t figure out how to migrate the older lit-virtualizer … I would hope soon to be able to use an upgraded virtualizer … initially it did not work with the current available on lit-labs

[2021-09-09 16:43] herberthobregon commented on #94
New release doesn’t work https://github.com/lit/lit/issues/1965 any fix for this? Or the implementation is wrong?

[2021-10-05 11:27] afberg opened #109 "lit-virtializer renderItem index refers to the item position in the rendered list, not the original list of items"
The `index` used in the `renderItem` property for the `lit-virtualizer` component no longer refers to an items index in the overall list but rather its index in the list of rendered items.

Reproducible by the following code:

[code]

[2021-10-07 17:51] graynorton commented on #109
Yes, this is a known issue (though there's no GH issue for it) that has been fixed and will be resolved in the next release (which I'm trying to get out ASAP). Thanks for reporting!

Will leave this open until the release goes out.

[2021-10-09 20:52] graynorton commented on #105
I believe this issue will no longer reproduce (in `0.7.0-pre.2` and later). Please confirm.

[2022-01-20 05:01] joekukish opened #111 "renderItem is sometimes called with undefined"
When a list is bigger, and the items are updated to a smaller amount, the "_last" variable will represent an index that is no longer valid in the new list. This causes `itemsToRender` to be filled with `undefined`

<img width="555" alt="Screen Shot 2022-01-19 at 22 58 02" src="https://user-images.githubusercontent.com/1413153/150276578-b9061218-2882-4f0d-b5f8-73d89bb3752d.png">

[2022-01-20 09:09] #108 closed

[2022-01-21 00:40] joekukish opened #112 "ResizeObserver loop limit exceeded"
While migrating to the latest version of the virtualizer, I've noticed that an error with the ResizeObserver happens fairly often.

To reproduce:

1. Go to https://polymerlabs.github.io/uni-virtualizer/scroll-to-index-lit-element/
2. Open the console and type.
[code]
3. Scroll in the demo page.

Notice how the message `ResizeObserver loop limit exceeded`  appears multiple times.

While doing the m

[2022-01-25 13:05] matyaslapincs commented on #81
I managed to reproduce the issue with version 0.7.0-pre.2.
It only appears on the first render. Once the item gets rerendered (after getting scrolled out and then back in the frame) the positioning is correct again.

[2022-02-09 15:23] bramkragten opened #113 "Scrolling broken on Safari 15.4"
It seems that in Safari 15.4, the css rule:
[code]
And thus
[code]

breaks scrolling.

No scrollbar is displayed, and no scrolling is possible.

Not sure if this is a bug in Safari or in lit-virtualizer...

[2022-03-01 11:27] matyaslapincs opened #117 "Wrong height with FlexWrap layout"
**Description**
When lit-virtualizer is used with a basic FlexWrap layout he height of the rows are not as expected.

![image](https://user-images.githubusercontent.com/86948201/156159329-ec231609-1979-4726-be5d-d4c7435df413.png)

I would expect the rows to be the height of the heighest item of the row.

Is this a bug or is there a way to configure it?

[2022-03-15 20:41] graynorton commented on #112
Sorry for the slow response here.

I haven't had time to dig deeply, but I am quite confident that the `ResizeObserver loop limit exceeded` error message is benign in this case and can be ignored.

Virtualizer's ResizeObserver callback is invoked not only when existing DOM children resize, but also whenever virtualizer adds new physical children. In the latter case, the layout may then explicitly

[2022-03-23 00:39] graynorton commented on #111
This issue is believed to be fixed in the `0.7.0-pre.3` release.

[2022-03-29 09:40] joekukish commented on #111
@graynorton I confirm this no longer happens in `0.7.0-pre.3`

[2022-04-01 15:56] graynorton commented on #113
@bramkragten A couple of questions:

It looks to me like this issue only occurs when virtualizer is rendering directly into `document.body`. Is that consistent with what you've seen?

Do you know if there's a WebKit issue tracking this problem?

[2022-05-03 20:00] bramkragten commented on #113
No, I was using it a few shadow roots deep

No, I'll recheck if this issue is still there in the latest version and search or create an issue in WebKit.

[2022-05-14 06:23] jpzwarte commented on #112
I managed to get rid of the error by wrapping the `_childrenSizeChanged` body in a `requestAnimationFrame` method.

<img width="662" alt="Screenshot 2022-05-13 at 14 50 06" src="https://user-images.githubusercontent.com/3968/168413633-00989987-792f-40b5-8cad-5b7a210431df.png">

[2022-05-17 22:21] graynorton opened #139 "Internal `rangechange` event firing too frequently when scrolling near top of list"
**Expected Behavior:**

The internal `rangechange` event should fire with similar frequency regardless of the current scroll position.

**Actual behavior:**

`rangechange` fires much more frequently when scrolled to the top of the list

**Repro steps:**

1. Open https://tinyurl.com/3aapymvz
2. In Chrome Dev Tools, locate the `Virtualizer.js` file in the Sources tab and open it:
<img width="308" al

[2022-05-18 00:39] AndrewJakubowicz commented on #139
This is an incredibly well written issue and repro. Great easy to follow steps. Thank you!
TIL `logpoint`.

[2022-05-18 15:22] graynorton opened #140 "Maximum size of virtualizer is artificially limited"
**Description:**

At some point in the past, we ran into strange (and bad) behaviors in one or more browsers when sizing a virtualizer beyond a certain number of pixels.

As a clumsy workaround, we are currently clamping the maximum height to an arbitrary value that was determined through ad hoc experimentation.

We need to investigate more deeply to see if we can solve this problem in a fundament

[2022-05-20 14:55] jpzwarte opened #142 "`_getAnchor: negative _first` when calling scrollToIndex"
I'm working on a combo-box component. The overlay contains `<lit-virtualizer>` element with the list. When I open the overlay and there is a selected item, I scroll the virtualizer to that item (centered) using `virtualizer.scrollToIndex(selectedIndex, 'center');`

Now if I do this, *before* the overlay is visible, I get the `_getAnchor: negative _first` message in the console and it scrolls to th

[2022-05-20 15:49] graynorton commented on #142
Thanks for the bug report, @jpzwarte. I don't suppose you have a repro case we can run? A minimal repro in the Lit Playground would be ideal, but anything is better than nothing.

We've recently been working on a pretty thorough overhaul of virtualizer's "scroll-to" functionality, including a way to declaratively specify the scroll position on the initial render. I think this should meet your need

[2022-05-20 16:18] jpzwarte commented on #142
Sounds good! I need to debug the situation a bit more. Seeing some other weird stuff that I'm not sure is not related to the way I provide the `items` to the virtualizer. (I'm using the `VirtualArray` technique from the examples to do something similar).

[2022-05-23 07:18] jpzwarte opened #143 "Add ability to scroll to index with offset"
https://user-images.githubusercontent.com/3968/169763677-7c97f684-d175-4ba8-bd26-80c07c26b8b8.mov

As you can see in the video, when scrolling up or down, once the list item reaches the start/end of the overflow area, the top/bottom box-shadow is cut off. The `box-shadow` is used to indicate the focused list item (fake focus indication in this case, since the input field at the top always has focu

[2022-05-23 08:30] jpzwarte commented on #142
@graynorton affaict, what happens is that when calling `scrollToIndex()` *before* the overlay is shown:
<img width="260" alt="Screenshot 2022-05-23 at 10 26 43" src="https://user-images.githubusercontent.com/3968/169777079-30a385fc-ace7-4009-a0fa-df17932c6e4e.png">

- `_first is XX` is a logpoint in `flow.ts` on line 373
- `scrollToIndex is XX` is a logpoint in `flow.ts` on line 312
- `_scrollPosi

[2022-05-23 13:04] jpzwarte commented on #143
The code is live here: https://dna.iddinkgroup.com/?path=/story/utilities-list-box-examples--virtual-list

Click a list item and then use arrows up/down keys to scroll.

[2022-05-25 16:47] graynorton opened #145 "RTL support"
Add RTL support.

[2022-05-25 21:00] graynorton commented on #145
Requested by Adobe.

Requires support at the layout level, need to think about how the functionality is exposed.

[2022-06-01 23:56] #103 closed

[2022-06-01 23:57] #109 closed

[2022-06-01 23:58] #75 closed

[2022-06-09 09:11] tpluscode opened #146 "Unreliable scroll using scrollbar thumb"
Easily reproducible in our setup, the scrolling experience is rather unpredictable when trying to drag the thumb to an arbitrary position.

We have an example dataset with 16k items.As you can see in the video below, in one case I dragged it almost to the bottom and I did in fact get close to the end of my list. But after refreshing the actual position in the data would wildly differ from the perc

[2022-06-21 21:04] usergenic opened #147 "[labs/virtualizer] Remove packages/lit-virtualizer now that it has been migrated to lit/lit repo"
Now that we have successfully migrated the code over to the [lit monorepo](https://github.com/lit/lit), we should remove the code for that package from this repo.

[2022-06-21 21:06] usergenic opened #148 "De-lerna the uni-virtualizer repo."
After removing the `@lit-labs/virtualizer` package from this repo in #147 we don't need this repo to be a `lerna`-based monorepo anymore.  I propose that if we pull that plumbing out and just leave the repo as an examples repo that could simplify things and reduce maintenance cost.

[2022-06-25 15:19] joekukish commented on #142
@jpzwarte did you find a solution for this issue?

[2022-07-20 22:59] usergenic commented on #52
FWIW, in the virtualizer tests for now, I am essentially using `await until(() => /* eventually expected state */)` instead of `await el.updateComplete`

[2022-08-24 22:04] monkeyjabs opened #151 "LitVirtualizer doesn't render horizontal layout correctly on Safari"
We have a scenario in our app where the LitVirtualizer doesn't render horizontal flow correctly on the first load in the Safari browser. A subsequent update to the items list seems to fix the issue.

- This only reproduces within our app and Safari
- I'm unable to reproduce this when isolating this into its own [sandbox](https://codesandbox.io/s/litelement-typescript-litvirtualizer-sxjsww?file=/sr

[2022-08-25 06:32] monkeyjabs commented on #151
Moving this issue to https://github.com/lit/lit/issues/3243

[2022-08-25 06:32] #151 closed, assigned to nobody